{% extends "base.html" %}
{% block content %}
    
    <div class="container">

    <section class="section">
        <h2>Live Matches</h2>

        <div class="card">
            <h3>RCB vs CSK</h3>
            <p>RCB - 185/5 (20)</p>
            <p>CSK - 180/8 (20)</p>
            <strong>RCB won by 5 runs</strong>
        </div>
    </section>

    <section class="section">
        <h2>Upcoming Matches</h2>

        <div class="card">
            <h3>MI vs SRH</h3>
            <p>Tomorrow - 7:30 PM</p>
        </div>
    </section>

    <section class="section">
        <h2>IPL Points Table</h2>

        <table class="points-table">

        <thead>
            <tr>
                <th>Pos</th>
                <th>Team</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>Pts</th>
                <th>NRR</th>
            </tr>
        </thead>

        <tbody>

            {% for row in table %}

            <tr>

                <td>{{ forloop.counter }}</td>

                <td class="team-cell">
                    {{ row.team.short_name }}
                </td>

                <td>{{ row.played }}</td>

                <td>{{ row.won }}</td>

                <td>{{ row.lost }}</td>

                <td class="points-cell">
                    {{ row.points }}
                </td>
                <td>{{row.nrr}}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>
    </section>

    <section class="section">
        <h2>Top Players</h2>

        <div class="card">
            <p>Virat Kohli - 650 Runs</p>
            <p>Jasprit Bumrah - 22 Wickets</p>
        </div>
    </section>

</div>
    
{% endblock %}