{% extends "base.html" %}
{% block content %}
<div class="homepage-wrapper">

    <!-- RECENT MATCHES -->

    <div class="homepage-recent-column">

        <h4 class="homepage-heading">
            Recent Matches
        </h4>

        {% for match in matches %}

        <div class="homepage-recent-card">

            <div class="homepage-series">
                IPL 2026
            </div>

            <div class="homepage-team-row">
                <span>{{ match.team1.short_name }}</span>

                <span>
                    {{ match.team1_score }}/{{ match.team1_wickets }}
                </span>
            </div>

            <div class="homepage-team-row">
                <span>{{ match.team2.short_name }}</span>

                <span>
                    {{ match.team2_score }}/{{ match.team2_wickets }}
                </span>
            </div>

            <div class="homepage-result">
                {{ match.result }}
            </div>

        </div>

        {% endfor %}

    </div>

    <!-- UPCOMING MATCHES -->

    <div class="homepage-upcoming-column">

        <h4 class="homepage-heading">
            Upcoming Matches
        </h4>

        {% for match in upcoming_matches %}

        <div class="homepage-upcoming-card">

            <h4>
                {{ match.team1.short_name }}
                vs
                {{ match.team2.short_name }}
            </h4>

            <p>
                {{ match.venue.name }}
            </p>

            <span>
                {{ match.date }}
            </span>

        </div>

        {% endfor %}

    </div>

    <!-- POINTS TABLE -->

    <div class="homepage-points-column">

        <h4 class="homepage-heading">
            IPL Points Table 2026
        </h4>

        <table class="homepage-points-table">

            <thead>

                <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th>P</th>
                    <th>W</th>
                    <th>L</th>
                    <th>Pts</th>
                    <th>NRR</th>

                </tr>

            </thead>

            <tbody>

                {% for row in table %}

                <tr>

                    <td>{{ forloop.counter }}</td>

                <td class="team-cell">
                    {{ row.team.short_name }}
                </td>

                <td>{{ row.played }}</td>

                <td>{{ row.won }}</td>

                <td>{{ row.lost }}</td>

                <td class="points-cell">
                    {{ row.points }}
                </td>
                <td>{{row.nrr}}
                </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
    

    
{% endblock %}