{% extends "base.html" %}

{% block content %}

<div class="match-detail-container">

    <div class="match-card">
        {% if match.status == "Completed" %}

<div class="match-result-box">

    <div class="winner-text">
        {{ match.result }}
    </div>

    <div class="score-row">

        <div class="score-team">
            <strong>{{ match.team1.short_name }}</strong>
            {{ match.team1_score }}/{{ match.team1_wickets }}
            ({{ match.team1_overs }})
        </div>

        <div class="score-team">
            <strong>{{ match.team2.short_name }}</strong>
            {{ match.team2_score }}/{{ match.team2_wickets }}
            ({{ match.team2_overs }})
        </div>
        
            
        

    </div>
    {{ match.result }}  

</div>

{% endif %}

        <div class="match-status {{ match.status|lower }}">
            {{ match.status }}
            

        </div>
        
        {% if match.status == "Completed" %}



{% endif %}




        <h3 class="match-title">
            {{ match.team1.short_name }}
            <span>vs</span>
            {{ match.team2.short_name }}
        </h3>

        <div class="teams-row">

            <div class="team-box">
                {% if match.team1.logo %}
                    <img
                        src="{{ match.team1.logo.url }}"
                        alt="{{ match.team1.name }}"
                        class="team-logo"
                    >
                {% endif %}

                <h3>{{ match.team1.name }}</h3>
            </div>

            <div class="vs-circle">
                VS
            </div>

            <div class="team-box">
                {% if match.team2.logo %}
                    <img
                        src="{{ match.team2.logo.url }}"
                        alt="{{ match.team2.name }}"
                        class="team-logo"
                    >
                {% endif %}

                <h3>{{ match.team2.name }}</h3>
            </div>

        </div>
        

        <div class="match-meta">
    <span>📍 {{ match.venue.name }}</span>
    <span>🏠 {{ match.venue.home_ground.short_name }}</span>
    <span>📅 {{ match.match_date }}</span>
</div>

        
        {% if match.status == "Scheduled" %}

            <div class="action-buttons">

            <a href="{% url 'manage_match' match.id %}" class="manage-btn">
                Manage Match
            </a>

        </div>

        {% elif match.status == "Playing11 Confirmed" %}

            <div class="action-buttons">

            <a class="manage-btn"
                href="{% url 'match_result' match.id %}"
            >
                Enter Match Result
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}