
{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Players</h1>

<div class="players-container">

    {% for player in players %}
    
   
    <div class="player-card">
         <a href="{% url 'player_detail' player.id %}">
        
    
        {% if player.image %}
            <img
                src="{{ player.image.url }}"
                alt="{{ player.name }}"
                class="player-profile"
            >
        {% else %}
            <img
                src="{% static 'images/profiles/default.jpg' %}"
                alt="Default Player"
                class="player-profile"
            >
        {% endif %}
        </a>

        <h3>{{ player.name }}</h3>

        <div class="team-name">
            {{ player.team.short_name }}
        </div>

        <div class="role">
            {{ player.get_role_display }}
        </div>
         

    </div>
    

    {% endfor %}

</div>

{% endblock %}