{% extends "base.html" %}

{% block content %}

<h1>Teams</h1>

<div class="teams-container">

    {% for team in teams %}
    
    <div class="team-card">

        {% if team.flag %}
            <img
                src="{{ team.flag.url }}"
                alt="{{ team.name }}"
                class="team-flag"
            >
        {% endif %}
        
        <h2>{{ team.name }}</h2>
        <p>{{ team.short_name }}</p>
        

        <a href="{% url 'team_detail' team.id %}">
            View Team
        </a>
    </div>

    {% endfor %}

</div>

{% endblock %}