{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="page-title">IPL Venues</h1>

<div class="venue-container">

    {% for venue in venues %}

    <div class="venue-card">

        <img
            src="{{ venue.image.url }}"
            alt="{{ venue.name }}"
            class="venue-image"
        >

        <div class="venue-content">

            <h2>
                <a href="{% url 'venue_detail' venue.pk %}">
                    {{ venue.name }}
                </a>
            </h2>

            <p>
                <strong>📍 City:</strong>
                {{ venue.city }}
            </p>

            <p>
                <strong>🏟 Capacity:</strong>
                {{ venue.capacity }}
            </p>

            <p>
                <strong>🏠 Home Ground:</strong>
                {{ venue.home_ground }}
            </p>

        </div>

    </div>

    {% empty %}
        <p>No venues available.</p>
    {% endfor %}

</div>

{% endblock %}